In [2]:
import altair as alt

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Cleaning data

In [3]:
#file = r"C:\Users\steff\OneDrive\Skrivebord\DTU\5. semester\Information visualization\Project 1\data for projekt 1\cruz_list.csv"
file1 = "cruz_list.csv"
file2 = "flagged_words_trump_admin.csv"
file3 = "nsf_terminations_airtable.csv"

# Ensure the file is not open in another program
print(os.path.abspath(file1))
data1 = pd.read_csv(file1)

print(os.path.abspath(file2))
data2 = pd.read_csv(file2)

print(os.path.abspath(file3))
data3 = pd.read_csv(file3)

data1

c:\Users\steff\OneDrive\Skrivebord\DTU\5. semester\Information visualization\Project 1\data for projekt 1\cruz_list.csv
c:\Users\steff\OneDrive\Skrivebord\DTU\5. semester\Information visualization\Project 1\data for projekt 1\flagged_words_trump_admin.csv
c:\Users\steff\OneDrive\Skrivebord\DTU\5. semester\Information visualization\Project 1\data for projekt 1\nsf_terminations_airtable.csv

     grant_number;in_cruz_list
0                2011780;FALSE
1                2027519;FALSE
2                2034824;FALSE
3                2040209;FALSE
4                2040684;FALSE
...                        ...
1036             2505222;FALSE
1037             2510215;FALSE
1038             2513528;FALSE
1039             2516400;FALSE
1040             2520318;FALSE

[1041 rows x 1 columns]

In [4]:
data1[['grant_number', 'in_cruz_list']] = data1['grant_number;in_cruz_list'].str.split(';', expand=True)
data1['grant_id'] = data1['grant_number'].astype(int)
data1['in_cruz_list'] = data1['in_cruz_list'].map({'TRUE': True, 'FALSE': False})
data1 = data1.drop(columns=['grant_number','grant_number;in_cruz_list'])

data1

      in_cruz_list  grant_id
0            False   2011780
1            False   2027519
2            False   2034824
3            False   2040209
4            False   2040684
...            ...       ...
1036         False   2505222
1037         False   2510215
1038         False   2513528
1039         False   2516400
1040         False   2520318

[1041 rows x 2 columns]

In [5]:
data2.head()

  flagged_word
0     activism
1    activists
2     advocacy
3     advocate
4      barrier

### cleaning for dataset 3

In [17]:
data3.head()

,grant_id,status,termination_date,reinstatement_date,reinstatement_indicator,project_title,org_state,org_city,award_type,usa_start_date,usa_end_date,nsf_start_date,nsf_end_date,nsf_total_budget,nsf_obligated,usaspending_obligated,usaspending_outlaid,estimated_budget,estimated_outlays,estimated_remaining
0,2201796,0,2025-04-18,NaN,NaN,Collaborative Research: Investigating Gender D...,PA,PITTSBURGH,Continuing Grant,2022-07-01,2025-04-18,2022-07-01,2025-04-18,1051218,1083218,1083218.0,901981.05,1083218,9.019811e+05,1.812369e+05
1,2315095,0,2025-04-18,NaN,NaN,Rhetorical Engineering Education to Support Pr...,TX,SAN ANTONIO,Continuing Grant,NaN,NaN,2023-09-01,2025-04-18,3641116,2237769,NaN,NaN,3641116,3.641116e+06,0.000000e+00
2,2236163,0,2025-04-18,NaN,NaN,"Increasing the Effectiveness of Justice, Equit...",NM,ALBUQUERQUE,Standard Grant,2023-04-01,2025-04-18,2023-04-01,2025-04-18,609429,609429,609429.0,348712.21,609429,3.487122e+05,2.607168e+05
3,2243822,1,2025-04-18,2025-06-30,Thakur v. Trump (Jun 2025),NRT-HDR: Computational Research for Equity in ...,CA,BERKELEY,Standard Grant,NaN,NaN,2023-07-01,2028-06-30,3000000,3000000,NaN,NaN,3000000,1.079409e+06,1.920591e+06
4,2216648,0,2025-04-18,NaN,NaN,RaMP: Oklahoma Network addressing human impact...,OK,STILLWATER,Standard Grant,2022-08-01,2025-04-18,2022-08-01,2025-04-18,2719700,2719700,2719700.0,1547300.07,2719700,1.547300e+06,1.172400e+06

Lav status som bin√¶r ogs√• fjern term, sus og rein ogs√• vis rein date 0 for Nan og dato blive

In [7]:
data3['status'] = data3['status'].map({'‚ùå Terminated': 0, 'üîÑ Possibly Reinstated': 1})

In [8]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1970 entries, 0 to 1969
Data columns (total 35 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   grant_id                 1970 non-null   int64
 1   status                   1970 non-null   int64
 2   terminated               1970 non-null   bool
 3   suspended                1970 non-null   bool
 4   termination_date         1970 non-null   object
 5   reinstated               1970 non-null   bool
 6   reinstatement_date       420 non-null    object
 7   reinstatement_indicator  416 non-null    object
 8   nsf_url                  1970 non-null   object
 9   usaspending_url          1970 non-null   object
 10  project_title            1970 non-null   object
 11  abstract                 1969 non-null   object
 12  org_name                 1970 non-null   object
 13  org_state                1970 non-null   object
 14  org_city                 1969 non-null   object
 15  award_type               1970 non-null   object
 16  usa_start_date           1259 non-null   object
 17  usa_end_date             1259 non-null   object
 18  nsf_start_date           1970 non-null   object
 19  nsf_end_date             1970 non-null   object
 20  nsf_program_name         1969 non-null   object
 21  nsf_primary_program      1970 non-null   object
 22  usa_nsf_office           1259 non-null   object
 23  nsf_total_budget         1970 non-null   int64
 24  nsf_obligated            1970 non-null   int64
 25  usaspending_obligated    1259 non-null   float64
 26  usaspending_outlaid      1259 non-null   float64
 27  estimated_budget         1970 non-null   int64
 28  estimated_outlays        1970 non-null   float64
 29  estimated_remaining      1970 non-null   float64
 30  division                 1259 non-null   object
 31  directorate              1259 non-null   object
 32  div                      1259 non-null   object
 33  dir                      1259 non-null   object
 34  record_sha1              1970 non-null   object
dtypes: bool(3), float64(4), int64(5), object(23)
memory usage: 498.4+ KB

In [9]:
data3 = data3.drop(['nsf_url', 'usaspending_url','abstract','org_name','usa_nsf_office','terminated','suspended','reinstated','nsf_program_name','nsf_primary_program','record_sha1','directorate','division','div','dir'], axis=1)
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1970 entries, 0 to 1969
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   grant_id                 1970 non-null   int64
 1   status                   1970 non-null   int64
 2   termination_date         1970 non-null   object
 3   reinstatement_date       420 non-null    object
 4   reinstatement_indicator  416 non-null    object
 5   project_title            1970 non-null   object
 6   org_state                1970 non-null   object
 7   org_city                 1969 non-null   object
 8   award_type               1970 non-null   object
 9   usa_start_date           1259 non-null   object
 10  usa_end_date             1259 non-null   object
 11  nsf_start_date           1970 non-null   object
 12  nsf_end_date             1970 non-null   object
 13  nsf_total_budget         1970 non-null   int64
 14  nsf_obligated            1970 non-null   int64
 15  usaspending_obligated    1259 non-null   float64
 16  usaspending_outlaid      1259 non-null   float64
 17  estimated_budget         1970 non-null   int64
 18  estimated_outlays        1970 non-null   float64
 19  estimated_remaining      1970 non-null   float64
dtypes: float64(4), int64(5), object(11)
memory usage: 307.9+ KB

In [18]:
data3.head()

,grant_id,status,termination_date,reinstatement_date,reinstatement_indicator,project_title,org_state,org_city,award_type,usa_start_date,usa_end_date,nsf_start_date,nsf_end_date,nsf_total_budget,nsf_obligated,usaspending_obligated,usaspending_outlaid,estimated_budget,estimated_outlays,estimated_remaining
0,2201796,0,2025-04-18,NaN,NaN,Collaborative Research: Investigating Gender D...,PA,PITTSBURGH,Continuing Grant,2022-07-01,2025-04-18,2022-07-01,2025-04-18,1051218,1083218,1083218.0,901981.05,1083218,9.019811e+05,1.812369e+05
1,2315095,0,2025-04-18,NaN,NaN,Rhetorical Engineering Education to Support Pr...,TX,SAN ANTONIO,Continuing Grant,NaN,NaN,2023-09-01,2025-04-18,3641116,2237769,NaN,NaN,3641116,3.641116e+06,0.000000e+00
2,2236163,0,2025-04-18,NaN,NaN,"Increasing the Effectiveness of Justice, Equit...",NM,ALBUQUERQUE,Standard Grant,2023-04-01,2025-04-18,2023-04-01,2025-04-18,609429,609429,609429.0,348712.21,609429,3.487122e+05,2.607168e+05
3,2243822,1,2025-04-18,2025-06-30,Thakur v. Trump (Jun 2025),NRT-HDR: Computational Research for Equity in ...,CA,BERKELEY,Standard Grant,NaN,NaN,2023-07-01,2028-06-30,3000000,3000000,NaN,NaN,3000000,1.079409e+06,1.920591e+06
4,2216648,0,2025-04-18,NaN,NaN,RaMP: Oklahoma Network addressing human impact...,OK,STILLWATER,Standard Grant,2022-08-01,2025-04-18,2022-08-01,2025-04-18,2719700,2719700,2719700.0,1547300.07,2719700,1.547300e+06,1.172400e+06

In [19]:
merged_df = data3.merge(data1[['grant_id', 'in_cruz_list']], 
                         on='grant_id', how='left')

merged_df.head()

,grant_id,status,termination_date,reinstatement_date,reinstatement_indicator,project_title,org_state,org_city,award_type,usa_start_date,...,nsf_start_date,nsf_end_date,nsf_total_budget,nsf_obligated,usaspending_obligated,usaspending_outlaid,estimated_budget,estimated_outlays,estimated_remaining,in_cruz_list
0,2201796,0,2025-04-18,NaN,NaN,Collaborative Research: Investigating Gender D...,PA,PITTSBURGH,Continuing Grant,2022-07-01,...,2022-07-01,2025-04-18,1051218,1083218,1083218.0,901981.05,1083218,9.019811e+05,1.812369e+05,True
1,2315095,0,2025-04-18,NaN,NaN,Rhetorical Engineering Education to Support Pr...,TX,SAN ANTONIO,Continuing Grant,NaN,...,2023-09-01,2025-04-18,3641116,2237769,NaN,NaN,3641116,3.641116e+06,0.000000e+00,True
2,2236163,0,2025-04-18,NaN,NaN,"Increasing the Effectiveness of Justice, Equit...",NM,ALBUQUERQUE,Standard Grant,2023-04-01,...,2023-04-01,2025-04-18,609429,609429,609429.0,348712.21,609429,3.487122e+05,2.607168e+05,True
3,2243822,1,2025-04-18,2025-06-30,Thakur v. Trump (Jun 2025),NRT-HDR: Computational Research for Equity in ...,CA,BERKELEY,Standard Grant,NaN,...,2023-07-01,2028-06-30,3000000,3000000,NaN,NaN,3000000,1.079409e+06,1.920591e+06,True
4,2216648,0,2025-04-18,NaN,NaN,RaMP: Oklahoma Network addressing human impact...,OK,STILLWATER,Standard Grant,2022-08-01,...,2022-08-01,2025-04-18,2719700,2719700,2719700.0,1547300.07,2719700,1.547300e+06,1.172400e+06,True

## Exercises

### Exercise 1

In [12]:
# Count terminations by state
state_counts = (
    data3[data3['status'] == 0]['org_state']
    .value_counts()
    .reset_index()
)
state_counts.columns = ['state', 'Terminations']

# Select top 10 states
top10_states = state_counts.head(10)

import altair as alt

alt.Chart(top10_states).mark_bar(color='steelblue').encode(
    y=alt.Y('state:N', sort='-x', title='state'),
    x=alt.X('Terminations:Q', title='Number of Cancellations')
).properties(
    title='Top 10 States With Most Cancellations'
)

c:\Users\steff\AppData\Local\Programs\Python\Python311\Lib\site-packages\altair\utils\core.py:384: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)

alt.Chart(...)

In [13]:
state_counts.head()

  state  Terminations
0    MA           250
1    TX           118
2    NY            98
3    CA            80
4    FL            58

In [14]:
from vega_datasets import data 
state_id = pd.read_csv('https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-abbrevs.csv')
# columns: ['state', 'code', 'id']
state_id
state_counts = state_counts.rename(columns={'state': 'abbreviation'})  # hvis du har forkortelser
merged = pd.merge(state_counts, state_id, on='abbreviation', how='left')

#merged.head(1)
state_counts.head(1)

  abbreviation  Terminations
0           MA           250

In [15]:
merged['Terminations'] = pd.to_numeric(merged['Terminations'], errors='coerce')
merged.head(1)

  abbreviation  Terminations          state
0           MA           250  Massachusetts

In [21]:
import altair as alt
from vega_datasets import data

map = alt.topo_feature(data.us_10m.url, feature = 'states')

usChart = alt.Chart(map).mark_geoshape(
    fill = 'lightgray',
    stroke = 'white',
).properties(
    width = 500,
    height = 300
).project('albersUsa')

usChart

alt.Chart(...)

In [22]:
states = alt.topo_feature(data.us_10m.url, 'states')

points = alt.Chart(merged).mark_circle().encode(
    longitude='longitude:Q',
    latitude='latitude:Q',
    size=alt.Size('Terminations:Q', scale=alt.Scale(range=[10, 1000])),
    color=alt.Color('Terminations:Q', scale=alt.Scale(scheme='reds')),
    tooltip=['state:N', 'Terminations:Q']
).project('albersUsa')  # ‚Üê vigtigt!

(usChart + points).properties(
    title='Cancellations by State'
)

c:\Users\steff\AppData\Local\Programs\Python\Python311\Lib\site-packages\altair\utils\core.py:384: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
c:\Users\steff\AppData\Local\Programs\Python\Python311\Lib\site-packages\altair\utils\core.py:384: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)

alt.LayerChart(...)

In [ ]:
# Tag de top N
n = 20
top_states = state_counts.sort_values('Terminations', ascending=False).head(n)

# Normaliser for arealst√∏rrelse (valgfrit)
#top_states['Share'] = top_states['Terminations'] / top_states['Terminations'].sum()

treemap = alt.Chart(top_states).mark_rect().encode(
    x=alt.X('Terminations:Q', stack='zero', axis=None),
    y=alt.Y('abbreviation:N', sort='-x', axis=alt.Axis(title='Top States')),
    color=alt.Color('Terminations:Q', scale=alt.Scale(scheme='reds')),
    tooltip=['abbreviation:N', 'Terminations:Q']
).properties(
    title=f'Top {n} States by Terminations (Altair "Treemap" style)',
    width=600,
    height=400
)

treemap

c:\Users\steff\AppData\Local\Programs\Python\Python311\Lib\site-packages\altair\utils\core.py:384: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)

alt.Chart(...)

### Exercise 2

In [ ]:
# Count cancelled grants by institution (org_name)
institution_counts = (
    data3[data3['status'] == 0]['org_city']
    .value_counts()
    .reset_index()
)
institution_counts.columns = ['Institution', 'Cancelled Grants']

# Show top 10 institutions with most cancellations
top10_institutions = institution_counts.head(10)
top10_institutions

# Visualize
alt.Chart(top10_institutions).mark_bar(color='indianred').encode(
    y=alt.Y('Institution:N', sort='-x', title='Institution'),
    x=alt.X('Cancelled Grants:Q', title='Number of Cancelled Grants')
).properties(
    title='Top 10 Institutions With Most Cancelled Grants'
)

c:\Users\steff\AppData\Local\Programs\Python\Python311\Lib\site-packages\altair\utils\core.py:384: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)

alt.Chart(...)